<section id="contentArea" class="container-fluid">
  <div class="row-fluid">
    <aside id="sidebar" class="span3">
      <form action="/hc/en-us/search" method="GET" id="searchBar" class="sm" autocomplete="off">
        <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" value="" aria-label="Search">
        <button type="submit">
          <span class="sr-only">Toggle Search</span>
          <i class="icon-search"></i>
        </button>
        <div id="serp-dd" class="sb" style="display:none;">
            <ul class="result"></ul>
        </div>
      </form>
      {{!-- {{search instant=settings.instant_search class='search search-full' submit=true}} --}}
      <h3>Categories</h3>
      <ul class="nav nav-list">
        <li><a href="/hc/en-us/articles/38448760193939">Get Started<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/articles/38450004008595">Level Up<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/articles/38450322526995">Supercharge Your Team<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445089824531">Account Setup<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445127077651">Billing<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445149992467">Support<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445131555603">Features<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445115561875">Integrations<i class="icon-arrow"></i></a></li>
        <li><a href="/hc/en-us/categories/38445124666771">Use Cases<i class="icon-arrow"></i></a></li>
      </ul>
    </aside>

    <section id="main-content" class="span9">
      <div class="contentWrapper">
        <article id="fullArticle" 
                data-article-id="{{article.id}}" 
                data-section-id="{{section.id}}" 
                data-section-name="{{section.name}}">
                </article>
          <h1 class="title">{{article.title}}</h1>
          <a href="javascript:window.print()" class="printArticle" title="Print this article" aria-label="Print this Article"><i class="icon-print"></i></a>
          <div class="article-body">{{article.body}}</div>
        </article>

        <section class="articleFoot">
          <time class="lu" data-timestamp="{{article.updated_at}}">Last updated on {{article.updated_at}}</time>
        </section>
      </div>
    </section>
  </div>
</section>