<div class="container">
    <div class="category-content">
        <h1>{{category.name}}</h1>
        <p class="category-description">{{category.description}}</p>

        {{
        #if
        category.sections}}
        <div class="articles-list">
            {{
            #each
            category.sections}}
            {{
            #each
            articles}}
            <a href="{{url}}" class="article-link">{{title}}</a>
            {{
            /each
            }}
            {{
            /each
            }}
        </div>
        {{else}}
        <p>No articles in this category</p>
        {{
        /if
        }}
    </div>

    <div class="sidebar">
        <h3>Categories</h3>
        <ul class="nav-list">
            {{
            #each categories}}
            <li {{ #is id ../category.id}}class="active" {{ /is }}>
                <a href="{{url}}">{{name}} <i class="icon-arrow"></i></a>
            </li>
            {{
            /each
            }}
        </ul>
    </div>
</div>