<div class="background">
  <div class="blue"></div>
  <div class="pink"></div>
</div>

<section id="contentArea" class="container-fluid">
    <div class="row-fluid">
        <section id="main-content" class="span9">
            <div class="contentWrapper">
                <hgroup id="categoryHead">
                    <h1>{{category.name}}</h1>
                    <p class="descrip">{{category.description}}</p>
                    <div class="sort">
                        <form action="/category/{{category.id}}" method="GET">
                            <select name="sort" id="sortBy" title="sort-by" onchange="this.form.submit();"
                                aria-label="Page reloads on selection">
                                <option value="">Sort by Default</option>
                                <option value="name">Sort A-Z</option>
                                <option value="popularity">Sort by Popularity</option>
                                <option value="updatedAt">Sort by Last Updated</option>
                            </select>
                        </form>
                    </div>
                </hgroup>

                {{
                #if
                category.sections}}
                <ul class="articleList">
                    {{
                    #each
                    category.sections}}
                    {{
                    #each
                    articles}}
                    <li><a href="{{url}}"><i class="icon-article-doc"></i><span>{{title}}</span></a></li>
                    {{
                    /each
                    }}
                    {{
                    /each
                    }}
                </ul>
                {{else}}
                <p>No articles in this category</p>
                {{
                /if
                }}
            </div>
        </section>

        <aside id="sidebar" class="span3">
            {{!-- {{search instant=settings.instant_search class='search search-full sidebar-search' submit=true}} --}}
            <form role="search" class="search search-full sidebar-search sm" id="searchBar" data-instant="true" autocomplete="off" action="/hc/en-us/search" method="get">
                <input type="search" name="query" id="sidebar-query" class="search-query" placeholder="Search" autocomplete="off" aria-label="Search">
                <button type="submit">
                    <span class="sr-only">Toggle Search</span>
                    <i class="icon-search"></i>
                </button>
                <div id="serp-dd" class="sb" style="display: none;">
                    <ul class="result"></ul>
                </div>
            </form>
            <h3>Categories</h3>
            <ul class="nav nav-list">
                {{! Get Started }}
                <li>
                <a href="/hc/en-us/articles/38448760193939">Get Started<i class="icon-arrow"></i></a>
                </li>
                
                {{! Level Up }}
                <li>
                <a href="/hc/en-us/articles/38450004008595">Level Up<i class="icon-arrow"></i></a>
                </li>
                
                {{! Supercharge Your Team }}
                <li>
                <a href="/hc/en-us/articles/38450322526995">Supercharge Your Team<i class="icon-arrow"></i></a>
                </li>
                
                {{! Account Setup }}
                <li{{#is category.name "Account Setup"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445089824531">Account Setup<i class="icon-arrow"></i></a>
                </li>
                
                {{! Billing }}
                <li{{#is category.name "Billing"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445127077651">Billing<i class="icon-arrow"></i></a>
                </li>
                
                {{! Support }}
                <li{{#is category.name "Support"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445149992467">Support<i class="icon-arrow"></i></a>
                </li>
                
                {{! Features }}
                <li{{#is category.name "Features"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445131555603">Features<i class="icon-arrow"></i></a>
                </li>
                
                {{! Integrations }}
                <li{{#is category.name "Integrations"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445115561875">Integrations<i class="icon-arrow"></i></a>
                </li>
                
                {{! Use Cases }}
                <li{{#is category.name "Use Cases"}} class="active"{{/is}}>
                <a href="/hc/en-us/categories/38445124666771">Use Cases<i class="icon-arrow"></i></a>
                </li>
            </ul>
            </aside>
    </div>

    <div id="noResults" style="display:none;">No results found</div>