<footer>
  <div class="footerContent">
    <div class="footerTop">
      <div>
        <h2 class="tagline wide">The Fastest Email<br>Experience Ever Made</h2>
        <h2 class="tagline narrow">The Fastest<br>Email Experience<br>Ever Made</h2>
      </div>
      <div class="footerLinks">
        <div class="linkColumn">
          <p class="linkColumnTitle">Company</p>
          <ul>
            <li><a href="https://blog.superhuman.com" rel="noopener">Blog</a></li>
            <li><a href="https://superhuman.com/jobs" rel="noopener">Careers</a></li>
            <li><a href="https://superhuman.com/love" rel="noopener">Love <img class="heartEmoji" src="{{asset 'heart.svg'}}" alt="heart emoji"></a></li>
          </ul>
        </div>
        <div class="linkColumn">
          <p class="linkColumnTitle">Product</p>
          <ul>
            <li><a href="https://superhuman.com/pricing" rel="noopener">Pricing</a></li>
            <li><a href="https://superhuman.com/download" rel="noopener">Download</a></li>
            <li><a href="https://superhuman.com/ai" rel="noopener">AI</a></li>
            <li><a href="https://superhuman.com/sales" rel="noopener">Sales</a></li>
            <li><a href="https://superhuman.com/enterprise" rel="noopener">Enterprise</a></li>
            <li><a href="https://superhuman.com/outlook-alternative" rel="noopener">Outlook</a></li>
          </ul>
        </div>
        <div class="linkColumn">
          <p class="linkColumnTitle">Support</p>
          <ul>
            <li><a href="//help.superhuman.com/" rel="noopener">Help Center</a></li>
            <li><a href="https://superhuman.com/contact" rel="noopener">Contact Us</a></li>
            <li><a href="https://youtube.com/playlist?list=PLqlCA7LOaqbwGsT4QSvf0t4B5nKMEut3V" rel="noopener">Tutorials</a></li>
          </ul>
        </div>
        <div class="linkColumn">
          <p class="linkColumnTitle">Legal</p>
          <ul>
            <li><a href="https://superhuman.com/privacy" rel="noopener">Privacy</a></li>
            <li><a href="https://superhuman.com/terms" rel="noopener">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footerDivider"></div>
    <div class="footerBottom">
      <div class="footerLogotype">
        <a href="https://superhuman.com/">
          <img class="large" alt="Superhuman logotype" src="{{asset 'logotype-large.svg'}}">
          <img class="medium" alt="Superhuman logotype" src="{{asset 'logotype-medium.svg'}}">
          <img class="small" alt="Superhuman logotype" src="{{asset 'logotype-small.svg'}}">
        </a>
      </div>
      <div class="socialLinks">
        <a href="https://twitter.com/superhuman"><img alt="Twitter" src="{{asset 'twitter-logo.svg'}}"></a>
        <a href="https://linkedin.com/company/superhuman-co/"><img alt="LinkedIn" src="{{asset 'linkedin-logo.svg'}}"></a>
        <a href="https://tiktok.com/@superhumanco"><img alt="TikTok" src="{{asset 'tiktok-logo.svg'}}"></a>
        <a href="https://youtube.com/@SuperhumanCo"><img alt="YouTube" src="{{asset 'youtube-logo.svg'}}"></a>
      </div>
    </div>
  </div>
</footer>