<section class="section hero">
  <div class="hero-inner">
    <h2>Looking for help?</h2>
    <div class="search-container">
      {{search submit=true instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <div class="category-icon">
                  {{#is name "Get Started"}}
                    <img src="{{asset 'images/lightbulb.svg'}}" alt="Get Started icon">
                  {{else}}{{#is name "Level Up"}}
                    <img src="{{asset 'images/rocket.svg'}}" alt="Level Up icon">
                  {{else}}{{#is name "Supercharge Your Team"}}
                    <img src="{{asset 'images/lightning.svg'}}" alt="Supercharge Your Team icon">
                  {{else}}{{#is name "Account Setup"}}
                    <img src="{{asset 'images/post-box-usa.svg'}}" alt="Account Setup icon">
                  {{else}}{{#is name "Billing"}}
                    <img src="{{asset 'images/credit-card.svg'}}" alt="Billing icon">
                  {{else}}{{#is name "Support"}}
                    <img src="{{asset 'images/heart.svg'}}" alt="Support icon">
                  {{else}}{{#is name "Features"}}
                    <img src="{{asset 'images/magnifying-glass.svg'}}" alt="Features icon">
                  {{else}}{{#is name "Integrations"}}
                    <img src="{{asset 'images/handshake.svg'}}" alt="Integrations icon">
                  {{else}}{{#is name "Use Cases"}}
                    <img src="{{asset 'images/sparkles.svg'}}" alt="Use Cases icon">
                  {{else}}
                    <img src="{{asset 'images/sparkles.svg'}}" alt="Category icon">
                  {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
                </div>
                <div class="blocks-item-content">
                  <h3 class="blocks-item-title">{{name}}</h3>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </div>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <div class="category-icon">
                    {{#is name "Get Started"}}
                      <img src="{{asset 'images/lightbulb.svg'}}" alt="Get Started icon">
                    {{else}}{{#is name "Level Up"}}
                      <img src="{{asset 'images/rocket.svg'}}" alt="Level Up icon">
                    {{else}}{{#is name "Supercharge Your Team"}}
                      <img src="{{asset 'images/lightning.svg'}}" alt="Supercharge Your Team icon">
                    {{else}}{{#is name "Account Setup"}}
                      <img src="{{asset 'images/post-box-usa.svg'}}" alt="Account Setup icon">
                    {{else}}{{#is name "Billing"}}
                      <img src="{{asset 'images/credit-card.svg'}}" alt="Billing icon">
                    {{else}}{{#is name "Support"}}
                      <img src="{{asset 'images/heart.svg'}}" alt="Support icon">
                    {{else}}{{#is name "Features"}}
                      <img src="{{asset 'images/magnifying-glass.svg'}}" alt="Features icon">
                    {{else}}{{#is name "Integrations"}}
                      <img src="{{asset 'images/handshake.svg'}}" alt="Integrations icon">
                    {{else}}{{#is name "Use Cases"}}
                      <img src="{{asset 'images/sparkles.svg'}}" alt="Use Cases icon">
                    {{else}}
                      <img src="{{asset 'images/sparkles.svg'}}" alt="Category icon">
                    {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
                  </div>
                  <div class="blocks-item-content">
                    <h3 class="blocks-item-title">{{name}}</h3>
                    <p class="blocks-item-description">{{excerpt description}}</p>
                  </div>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
    </section>
  </section>
</div>