<section id="docsSearch">
  <h2>Looking for help?</h2>
  {{!-- <form action="/hc/en-us/search" method="GET" id="searchBar" data-search data-instant="true">
    <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" aria-label="Search" value="">
    <button type="submit" aria-label="Search"><i class="icon-search lp"></i><span>Search</span></button>
  </form> --}}
  {{search submit=false instant=settings.instant_search class='search search-full'}}
</section>

<section id="contentArea" class="container-fluid">
  <section class="category-list">
    {{#each categories}}
      {{#is name "Get Started"}}
        <a class="category" id="category-{{id}}" href="/hc/en-us/articles/38448760193939">
      {{else}}{{#is name "Level Up"}}
        <a class="category" id="category-{{id}}" href="/hc/en-us/articles/38450004008595">
      {{else}}{{#is name "Supercharge Your Team"}}
        <a class="category" id="category-{{id}}" href="/hc/en-us/articles/38450322526995">
      {{else}}
        <a class="category" id="category-{{id}}" href="{{url}}">
      {{/is}}{{/is}}{{/is}}
        {{#is name "Get Started"}}
          <img src="{{asset 'lightbulb.svg'}}" alt="Get Started icon" class="categoryIcon">
        {{else}}{{#is name "Level Up"}}
          <img src="{{asset 'rocket.svg'}}" alt="Level Up icon" class="categoryIcon">
        {{else}}{{#is name "Supercharge Your Team"}}
          <img src="{{asset 'lightning.svg'}}" alt="Supercharge Your Team icon" class="categoryIcon">
        {{else}}{{#is name "Account Setup"}}
          <img src="{{asset 'post-box-usa.svg'}}" alt="Account Setup icon" class="categoryIcon">
        {{else}}{{#is name "Billing"}}
          <img src="{{asset 'credit-card.svg'}}" alt="Billing icon" class="categoryIcon">
        {{else}}{{#is name "Support"}}
          <img src="{{asset 'heart.svg'}}" alt="Support icon" class="categoryIcon">
        {{else}}{{#is name "Features"}}
          <img src="{{asset 'magnifying-glass.svg'}}" alt="Features icon" class="categoryIcon">
        {{else}}{{#is name "Integrations"}}
          <img src="{{asset 'handshake.svg'}}" alt="Integrations icon" class="categoryIcon">
        {{else}}{{#is name "Use Cases"}}
          <img src="{{asset 'sparkles.svg'}}" alt="Use Cases icon" class="categoryIcon">
        {{else}}
          <img src="{{asset 'sparkles.svg'}}" alt="Category icon" class="categoryIcon">
        {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
        <h3>{{name}}</h3>
        <p>{{excerpt description}}</p>
      </a>
    {{/each}}
  </section>
</section>