<section class="section hero">
  <div class="hero-inner">
    <h2>Looking for help?</h2>
    <div class="search-container">
      {{search submit=true instant=settings.instant_search class='search search-full'}}
    </div>
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
  <section class="categories blocks">
    <ul class="blocks-list">
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
              <div class="category-icon">
                {{#is name "Get Started"}}
                  <img src="{{settings.logo}}" alt="Get Started icon">
                {{else}}{{#is name "Level Up"}}
                  <img src="{{settings.logo}}" alt="Level Up icon">
                {{else}}{{#is name "Supercharge Your Team"}}
                  <img src="{{settings.logo}}" alt="Supercharge Your Team icon">
                {{else}}{{#is name "Account Setup"}}
                  <img src="{{settings.logo}}" alt="Account Setup icon">
                {{else}}{{#is name "Billing"}}
                  <img src="{{settings.logo}}" alt="Billing icon">
                {{else}}{{#is name "Support"}}
                  <img src="{{settings.logo}}" alt="Support icon">
                {{else}}{{#is name "Features"}}
                  <img src="{{settings.logo}}" alt="Features icon">
                {{else}}{{#is name "Integrations"}}
                  <img src="{{settings.logo}}" alt="Integrations icon">
                {{else}}{{#is name "Use Cases"}}
                  <img src="{{settings.logo}}" alt="Use Cases icon">
                {{else}}
                  <img src="{{settings.logo}}" alt="Category icon">
                {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
              </div>
              <div class="blocks-item-content">
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </div>
            </a>
          </li>
        {{else}}
          {{#each sections}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <div class="category-icon">
                  {{#is name "Get Started"}}
                    <img src="{{settings.logo}}" alt="Get Started icon">
                  {{else}}{{#is name "Level Up"}}
                    <img src="{{settings.logo}}" alt="Level Up icon">
                  {{else}}{{#is name "Supercharge Your Team"}}
                    <img src="{{settings.logo}}" alt="Supercharge Your Team icon">
                  {{else}}{{#is name "Account Setup"}}
                    <img src="{{settings.logo}}" alt="Account Setup icon">
                  {{else}}{{#is name "Billing"}}
                    <img src="{{settings.logo}}" alt="Billing icon">
                  {{else}}{{#is name "Support"}}
                    <img src="{{settings.logo}}" alt="Support icon">
                  {{else}}{{#is name "Features"}}
                    <img src="{{settings.logo}}" alt="Features icon">
                  {{else}}{{#is name "Integrations"}}
                    <img src="{{settings.logo}}" alt="Integrations icon">
                  {{else}}{{#is name "Use Cases"}}
                    <img src="{{settings.logo}}" alt="Use Cases icon">
                  {{else}}
                    <img src="{{settings.logo}}" alt="Category icon">
                  {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
                </div>
                <div class="blocks-item-content">
                  <span class="blocks-item-title">{{name}}</span>
                  <span class="blocks-item-description">{{excerpt description}}</span>
                </div>
              </a>
            </li>
          {{/each}}
        {{/if}}
      {{/each}}
    </ul>
  </section>
</section>
</div>