<section id="docsSearch">
  <h2>Looking for help?</h2>
  <form action="/search" method="GET" id="searchBar" autocomplete="off">
    <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" aria-label="Search" value="">
    <button type="submit" aria-label="Search"><i class="icon-search lp"></i><span>Search</span></button>
    <div id="serp-dd" style="display:none;">
      <ul class="result"></ul>
    </div>
  </form>
</section>

<div id="contentArea" class="container-fluid">
  <div id="noResults" style="display:none;">No results found</div>
  
  <section class="category-list">
    {{#each categories}}
      {{#if ../has_multiple_categories}}
        <a class="category" id="category-{{id}}" href="{{url}}">
          {{#is name "Get Started"}}
            <img class="categoryIcon" src="{{asset 'lightbulb.svg'}}" alt="Get Started icon">
          {{else}}{{#is name "Level Up"}}
            <img class="categoryIcon" src="{{asset 'rocket.svg'}}" alt="Level Up icon">
          {{else}}{{#is name "Supercharge Your Team"}}
            <img class="categoryIcon" src="{{asset 'lightning.svg'}}" alt="Supercharge Your Team icon">
          {{else}}{{#is name "Account Setup"}}
            <img class="categoryIcon" src="{{asset 'post-box-usa.svg'}}" alt="Account Setup icon">
          {{else}}{{#is name "Billing"}}
            <img class="categoryIcon" src="{{asset 'credit-card.svg'}}" alt="Billing icon">
          {{else}}{{#is name "Support"}}
            <img class="categoryIcon" src="{{asset 'heart.svg'}}" alt="Support icon">
          {{else}}{{#is name "Features"}}
            <img class="categoryIcon" src="{{asset 'magnifying-glass.svg'}}" alt="Features icon">
          {{else}}{{#is name "Integrations"}}
            <img class="categoryIcon" src="{{asset 'handshake.svg'}}" alt="Integrations icon">
          {{else}}{{#is name "Use Cases"}}
            <img class="categoryIcon" src="{{asset 'sparkles.svg'}}" alt="Use Cases icon">
          {{else}}
            <img class="categoryIcon" src="{{asset 'sparkles.svg'}}" alt="Category icon">
          {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
          <h3>{{name}}</h3>
          <p>{{excerpt description}}</p>
          <p class="article-count">
            <span class="notranslate">{{article_count}}</span> articles
          </p>
        </a>
      {{else}}
        {{#each sections}}
          <a class="category" id="category-{{id}}" href="{{url}}">
            {{#is name "Get Started"}}
              <img class="categoryIcon" src="{{asset 'lightbulb.svg'}}" alt="Get Started icon">
            {{else}}{{#is name "Level Up"}}
              <img class="categoryIcon" src="{{asset 'rocket.svg'}}" alt="Level Up icon">
            {{else}}{{#is name "Supercharge Your Team"}}
              <img class="categoryIcon" src="{{asset 'lightning.svg'}}" alt="Supercharge Your Team icon">
            {{else}}{{#is name "Account Setup"}}
              <img class="categoryIcon" src="{{asset 'post-box-usa.svg'}}" alt="Account Setup icon">
            {{else}}{{#is name "Billing"}}
              <img class="categoryIcon" src="{{asset 'credit-card.svg'}}" alt="Billing icon">
            {{else}}{{#is name "Support"}}
              <img class="categoryIcon" src="{{asset 'heart.svg'}}" alt="Support icon">
            {{else}}{{#is name "Features"}}
              <img class="categoryIcon" src="{{asset 'magnifying-glass.svg'}}" alt="Features icon">
            {{else}}{{#is name "Integrations"}}
              <img class="categoryIcon" src="{{asset 'handshake.svg'}}" alt="Integrations icon">
            {{else}}{{#is name "Use Cases"}}
              <img class="categoryIcon" src="{{asset 'sparkles.svg'}}" alt="Use Cases icon">
            {{else}}
              <img class="categoryIcon" src="{{asset 'sparkles.svg'}}" alt="Category icon">
            {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
            <h3>{{name}}</h3>
            <p>{{excerpt description}}</p>
            <p class="article-count">
              <span class="notranslate">{{article_count}}</span> articles
            </p>
          </a>
        {{/each}}
      {{/if}}
    {{/each}}
  </section>
</div>