<section id="docsSearch">
  <h2>Looking for help?</h2>
  <form action="/search" method="GET" id="searchBar" autocomplete="off">
    <input type="text" name="query" title="search-query" class="search-query" placeholder="Search" aria-label="Search" value="">
    <button type="submit" aria-label="Search"><i class="icon-search lp"></i><span>Search</span></button>
    <div id="serp-dd" style="display:none;">
      <ul class="result"></ul>
    </div>
  </form>
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <div class="category-icon">
                  {{#is name "Get Started"}}
                    <img src="{{asset 'lightbulb.svg'}}" alt="Get Started icon">
                  {{else}}{{#is name "Level Up"}}
                    <img src="{{asset 'rocket.svg'}}" alt="Level Up icon">
                  {{else}}{{#is name "Supercharge Your Team"}}
                    <img src="{{asset 'lightning.svg'}}" alt="Supercharge Your Team icon">
                  {{else}}{{#is name "Account Setup"}}
                    <img src="{{asset 'post-box-usa.svg'}}" alt="Account Setup icon">
                  {{else}}{{#is name "Billing"}}
                    <img src="{{asset 'credit-card.svg'}}" alt="Billing icon">
                  {{else}}{{#is name "Support"}}
                    <img src="{{asset 'heart.svg'}}" alt="Support icon">
                  {{else}}{{#is name "Features"}}
                    <img src="{{asset 'magnifying-glass.svg'}}" alt="Features icon">
                  {{else}}{{#is name "Integrations"}}
                    <img src="{{asset 'handshake.svg'}}" alt="Integrations icon">
                  {{else}}{{#is name "Use Cases"}}
                    <img src="{{asset 'sparkles.svg'}}" alt="Use Cases icon">
                  {{else}}
                    <img src="{{asset 'sparkles.svg'}}" alt="Category icon">
                  {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
                </div>
                <div class="blocks-item-content">
                  <h3 class="blocks-item-title">{{name}}</h3>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </div>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <div class="category-icon">
                    {{#is name "Get Started"}}
                      <img src="{{asset 'lightbulb.svg'}}" alt="Get Started icon">
                    {{else}}{{#is name "Level Up"}}
                      <img src="{{asset 'rocket.svg'}}" alt="Level Up icon">
                    {{else}}{{#is name "Supercharge Your Team"}}
                      <img src="{{asset 'lightning.svg'}}" alt="Supercharge Your Team icon">
                    {{else}}{{#is name "Account Setup"}}
                      <img src="{{asset 'post-box-usa.svg'}}" alt="Account Setup icon">
                    {{else}}{{#is name "Billing"}}
                      <img src="{{asset 'credit-card.svg'}}" alt="Billing icon">
                    {{else}}{{#is name "Support"}}
                      <img src="{{asset 'heart.svg'}}" alt="Support icon">
                    {{else}}{{#is name "Features"}}
                      <img src="{{asset 'magnifying-glass.svg'}}" alt="Features icon">
                    {{else}}{{#is name "Integrations"}}
                      <img src="{{asset 'handshake.svg'}}" alt="Integrations icon">
                    {{else}}{{#is name "Use Cases"}}
                      <img src="{{asset 'sparkles.svg'}}" alt="Use Cases icon">
                    {{else}}
                      <img src="{{asset 'sparkles.svg'}}" alt="Category icon">
                    {{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}{{/is}}
                  </div>
                  <div class="blocks-item-content">
                    <h3 class="blocks-item-title">{{name}}</h3>
                    <p class="blocks-item-description">{{excerpt description}}</p>
                  </div>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
    </section>
  </section>
</div>