<div class="background">
  <div class="blue"></div>
  <div class="pink"></div>
</div>

<section id="contentArea" class="container-fluid">
    <div class="row-fluid">
        <section id="main-content" class="span9">
            <div class="contentWrapper">
                <hgroup id="categoryHead">
                    <h1>{{t 'results' query=query count=results_count}}</h1>
                    <p class="descrip">{{
                        #if
                        results}}Found {{results_count}} results for "{{query}}"{{else}}No results found for
                        "{{query}}"{{
                        /if
                        }}</p>
                </hgroup>

                {{
                #if
                results}}
                <ul class="articleList">
                    {{
                    #each
                    results}}
                    <li>
                        <a href="{{url}}">
                            <i class="icon-article-doc"></i><span>{{title}}</span>
                        </a>
                    </li>
                    {{
                    /each
                    }}
                </ul>
                {{else}}
                <div class="no-results">
                    <div class="headline">
                        {{t 'no_results_unified_start_new_search'}}
                    </div>
                    <div class="action-prompt">
                        {{t 'no_results_unified_enter_keywords'}}
                    </div>
                    <div class="action-prompt">
                        <a href="{{help_center.url}}">
                            {{t 'go_to_help_center'}}
                        </a>
                    </div>
                </div>
                {{
                /if
                }}
            </div>
        </section>

        <aside id="sidebar" class="span3">
      {{search instant=settings.instant_search class='search search-full sidebar-search' submit=true}}
    </aside>
    </div>

    {{pagination}}
</section>